<head>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>pokedex 3?!??!?!??!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Truculenta:opsz,wght@12..72,100..900&display=swap" rel="stylesheet">    
    </head>
</head>

<body>
    <h1>display pokemon with their types and statistics</h1>
    <p>how many pokemon do you want to display?</p>
    <div>
        <form method="post" action="/display">
            <label for="n"></label>
            <input type="number" id="n" name="num" min="1">
            <br>
            <input type="submit" class="button" value="Submit">
        </form>
    </div>
    <table>
        <!-- column headers from list of headers -->
        {% for column in headers %}
            <th>{{ column }}</th>
        {% endfor %}
        <!-- display pokemon -->
        {% for pokemon in display %}
        <tr>
            {% for item in pokemon %}
                <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <h1 style="font-size: 24; margin: 15px;"><a href="{{ url_for('home')}}">back to home</a></h1>
</body>